.connect_button {
  min-height: 35px;
  min-width: 100px;
  border: 2px solid #202020;
  border-radius: 11px;
  cursor: pointer;
  font-weight: bold;
  background-color: #252525;
  transition: all 0.5s ease;
  color: #ffffff;
  letter-spacing: 1px;
}

.connect_button:hover {
  border: 2px solid #656565;
}
